* { /* Applies to entire HTML document */
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    background-color: #d9dcd6;
}

/* Nav bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Horiseon title */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* letters s,e,o in h1 */
.seo {
    color: #d9dcd6;
    background-color: #2a607c;
}

/* entire nav bar */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* header nav list */
.header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* links in nav bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraphs in main section and aside */
p {
    font-size: 16px;
}

/* Large photo above main content */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* 3 sections center of webpage */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated all 3 class selectors into this one */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* consolidated three more selectors into a single one */
.content img {
    max-height: 200px;
}

/* consolidated three h2 selectors into one */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Aside element along right side of page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}

/* Redundant headers since it will apply to each of the benefits */
.benefits p {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated all h3 in benefits class */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated all 3 img headers into 1*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer at bottom of page */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
